<section class="registration-page">
  <h2>초간단 회원가입</h2>

  <div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="row">
        <%= f.label :email, class: 'p-0 m-0' %>
        <%= f.email_field :email, class: 'p-1 mb-2', placeholder: '가입할 이메일을 입력해주세요.', autofocus: true, autocomplete: :off %>
      </div>

      <div class="row">
        <%= f.label :name, class: 'p-0 m-0' %><br/>
        <%= f.text_field :name, class: 'p-1 mb-2', placeholder: '활동 시 노출될 이름을 입력해주세요.', autocomplete: :off %>
      </div>

      <div class="row">
        <%= f.label :password, class: 'p-0 m-0' %><br/>
        <%= f.password_field :password, class: 'p-1 mb-2', placeholder: '비밀번호를 입력해주세요.' %>
      </div>

      <div class="row action mt-2">
        <%= f.submit "회원가입", class: 'focus-btn' %>
      </div>
    <% end %>

    <div class="row action mt-2">
      <%= link_to "이미 가입했어요! => 로그인하러 가기 :D", new_session_path(resource_name), class: 'non-focus-btn'%><br/>
    </div>
  </div>
</section>

<style>
  input::placeholder {
    font-size: 0.8rem;
    opacity: 0.7;
    /*padding: 5px;*/
  }
</style>
